#toc-col {
    float: left;
    width: 20%;
}

#doc-col {
    float: right;
    width: 78%;
}

.docs-top {
    margin: 1em;
}

.docs-link {
    font-style: italic;
    font-size: smaller;
}

.main-body {
    clear: both;
}