body {
    margin: auto;
    max-width: 85%;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 10px;
    font-family: Helvetica, sans-serif;
}

#top-mag-title {
    /* TODO */
}

#bottom-mag-title {
    /* TODO */
}

h1 {
    line-height: 1.4;
}

h2, h3 {
    line-height: 1.2;
    margin-top: 3em;
    margin-bottom: 3em;
}

.top-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.top-menu >span {
    margin: 2px;
}

blockquote {
    font-style: italic;
    margin-left: 10px;
    color: #777;
}

code {
    padding: 0.2em;
    border-radius: 0.3em;
    background-color: #EEE;
}

p {
    margin-bottom: 2em;
}

pre {
    padding: 0.6em;
    border-left: 1px black dotted;
    overflow: scroll;
    margin-bottom: 2em;
    margin-top: 2em;
}

.file-box {
    margin-top: -3em;
    margin-bottom: 3em;
    padding: 0.4em;
    width: 100%;
    background: linear-gradient(to bottom, white, #EEE);
    font-family: Menlo, monospace;
    font-size: small;
}

.section-button {
    border: solid darkblue 0.1em;
    border-radius: 0.7em;
    padding: 0.8em;
    margin-left: 0.5em;
}

.section-button.active {
    font-weight: bolder;
}

.section-button a:visited {
    color: #5680E9;
}

a:link {
    color: #5680E9;
}

.footer {
    min-height: 5em;
    background-color: #272727;
    color: #C1C8E4;
    padding: 1em;
}

.footer a:link {
    color: #5AB9EA;
}

.footer a:visited {
    color: #84CEEB;
}

.link-header-component img {
    opacity: 0.2;
}

.link-header-component:hover img {
    opacity: 1.0;
}
