body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
    line-height: 1.2
}

h1 {

}

h2 {

}

blockquote {
    font-style: italic;
    margin-left: 10px;
    color: #777;
}

.section-button {
    border: solid darkblue 0.1em;
    border-radius: 0.7em;
    padding: 0.8em;
    margin-left: 0.5em;
}

.section-button.active {
    font-weight: bolder;
}