<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{eval baseURL}}/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{eval baseURL}}/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{eval baseURL}}/images/ico/favicon-16x16.png">
    <link rel="manifest" href="{{eval baseURL}}/site.webmanifest">
    <link rel="mask-icon" href="{{eval baseURL}}/images/ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{{ eval title }}</title>
    <link rel="stylesheet" href="{{eval baseURL}}/css/styles.css">
</head>
<body>
{{ if name == "Home" }}
<img src="{{eval baseURL }}/images/mag-mid-logo.jpg" alt="Magnanimous Gopher" style="float: right; width: 10em;">
{{ end }}
<div class="main-body">
<nav class="">

<div>
{{ for section (sortBy index) /processed/sections }}
        <span class="section-button {{ eval section.name }}{{ if section.path == path }} active{{ end }}">
            <a href="{{eval baseURL }}{{ eval section.path }}">{{ eval section.name }}</a>
        </span>
{{ end }}
</div>
</nav>
{{ include /processed/components/spacer.html }}
