<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="180x180" href="/magnanimous/images/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/magnanimous/images/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/magnanimous/images/ico/favicon-16x16.png">
    <link rel="manifest" href="/magnanimous/site.webmanifest">
    <link rel="mask-icon" href="/magnanimous/images/ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Magnanimous</title>
    <link rel="stylesheet" href="/magnanimous/css/styles.css">
</head>
<body>
<img src="/magnanimous/images/mag-mid-logo.jpg" alt="Magnanimous Gopher" style="float: right; width: 10em;">
<div class="main-body">
<nav class="">

<div class="top-menu">

        <span class="section-button Home active">
            <a href="/magnanimous/sections/home.html">Home</a>
        </span>

        <span class="section-button Documentation">
            <a href="/magnanimous/sections/docs.html">Documentation</a>
        </span>

        <span class="section-button About">
            <a href="/magnanimous/sections/about.html">About</a>
        </span>

</div>
</nav>
<div style="height: 1em;"></div><div id="top-mag-title"></div>

<h1>Magnanimous</h1>

<div id="bottom-mag-title"></div>

<blockquote>
<p>The fastest and easiest static website generator in the world!</p>
</blockquote>
<div style="height: 1em;"></div><hr />

<p>Magnanimous generates static websites from source files really fast.</p>

<p>And it&rsquo;s incredibly simple to use!</p>

<p>Features:</p>

<ul>
<li>simple templating mechanism based on a tiny <a href="/magnanimous/sections/docs/expression_lang.html">expression language</a>
(simple as <code>2 + 2 is {{ eval 2 + 2 }}</code>).</li>
<li>include file into another (<code>{{ include other-file.html }}</code>).</li>
<li>define variables (<code>{{ define title &quot;Hello world&quot; }}</code>).</li>
<li><a href="/magnanimous/sections/docs/components.html">components</a> and slots inspired by web components.</li>
<li><a href="/magnanimous/sections/docs/expression_lang.html#if">conditional content</a> (<code>{{ if title == &quot;Home&quot; }}We are home{{ end }}</code>).</li>
<li><a href="/magnanimous/sections/docs/expression_lang.html#for">for loops</a> over files and variables (<code>{{ for file /path/to/files }}* Post name: {{eval file.postName}} {{end}}</code>).</li>
<li><a href="/magnanimous/sections/docs/markdown_guide.html">markdown content</a> automatically converted to HTML.</li>
<li><a href="/magnanimous/sections/docs/markdown_guide.html#source-code">source code highlighting</a> in markdown.</li>
</ul>

<h3>1. Download the binary</h3>

<p>Go to the <a href="https://github.com/renatoathaydes/magnanimous/releases">releases page</a> and download the binary for your OS.</p>

<h3>2. Write some sources</h3>

<p>How about some HTML fragments?!</p>
<pre style="background-color:#fff"><span style="color:#289870">&lt;!DOCTYPE html&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#2838b0">html</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#2838b0">head</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
    <span style="color:#888">&lt;</span><span style="color:#2838b0">meta</span> <span style="color:#388038">charset</span><span style="color:#666">=</span><span style="color:#b83838">&#34;utf-8&#34;</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
    <span style="color:#888">&lt;</span><span style="color:#2838b0">title</span><span style="color:#888"></span><span style="color:#888">&gt;</span>{{ eval title }}<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">title</span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">head</span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#2838b0">body</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
</pre><div class="file-box">source/processed/_header.html</div><pre style="background-color:#fff"><span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">body</span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">html</span><span style="color:#888">&gt;</span>
</pre><div class="file-box">source/_footer.html</div><p>Add some <a href="https://en.wikipedia.org/wiki/Markdown">markdown</a> for comfortably writing content.</p>
<pre style="background-color:#fff">{{ define title &#34;My Website&#34; }}<span style="background-color:#a848a8">
</span><span style="background-color:#a848a8"></span>{{ include /processed/_header.html }}<span style="background-color:#a848a8">
</span><span style="background-color:#a848a8"></span><span style="color:#666">#</span> This is my website
<span style="background-color:#a848a8">
</span><span style="background-color:#a848a8"></span>How awesome is it?!<span style="background-color:#a848a8">
</span><span style="background-color:#a848a8"></span><span style="background-color:#a848a8">
</span><span style="background-color:#a848a8"></span>{{ include /_footer.html }}<span style="background-color:#a848a8">
</span></pre><div class="file-box">source/processed/index.md</div><h3>3. Run magnanimous</h3>
<pre style="background-color:#fff">$ magnanimous
</pre>
<p>Your website is ready on the <code>target</code> directory!</p>
<pre style="background-color:#fff"><span style="color:#289870">&lt;!DOCTYPE html&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#2838b0">html</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#2838b0">head</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
    <span style="color:#888">&lt;</span><span style="color:#2838b0">meta</span> <span style="color:#388038">charset</span><span style="color:#666">=</span><span style="color:#b83838">&#34;utf-8&#34;</span><span style="color:#888"></span><span style="color:#888">&gt;</span>
    <span style="color:#888">&lt;</span><span style="color:#2838b0">title</span><span style="color:#888"></span><span style="color:#888">&gt;</span>My Website<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">title</span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">head</span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#2838b0">body</span><span style="color:#888"></span><span style="color:#888">&gt;</span>

<span style="color:#888">&lt;</span><span style="color:#2838b0">h1</span><span style="color:#888"></span><span style="color:#888">&gt;</span>This is my website<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">h1</span><span style="color:#888">&gt;</span>

<span style="color:#888">&lt;</span><span style="color:#2838b0">p</span><span style="color:#888"></span><span style="color:#888">&gt;</span>How awesome is it?!<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">p</span><span style="color:#888">&gt;</span>

<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">body</span><span style="color:#888">&gt;</span>
<span style="color:#888">&lt;</span><span style="color:#888">/</span><span style="color:#2838b0">html</span><span style="color:#888">&gt;</span>
</pre><div class="file-box">target/index.html</div><p>You might have noticed how some funny contents like <code>{{ eval title }}</code>, in the <code>title</code> tag, and
<code>{{ define title &quot;My Website&quot; }}</code>, in the markdown file&hellip;</p>

<p>These are <a href="/magnanimous/sections/docs/expression_lang.html">Magnanimous instructions</a>, which let Magnanimous know when you want <strong>process</strong> files,
which mean doing things like include a file into another, or declare values to be used somewhere else&hellip; the text inside the
<code>{{</code> and <code>}}</code> braces are evaluated using the Magnanimous expression language. But don&rsquo;t worry!
You can learn that in about 15 minutes!</p>

<p>Also notice that all markdown content is converted automatically to HTML! Magnanimous will even highlight source code blocks in pretty much
<a href="https://github.com/alecthomas/chroma#supported-languages">any language</a>, just provide the block language as you do on GitHub markdown:</p>
<pre style="background-color:#fff"><span style="color:#b83838">```</span><span style="color:#b83838">javascript</span><span style="color:#b83838">
</span><span style="color:#b83838"></span><span style="color:#2838b0">const</span> magnanimous <span style="color:#666">=</span> <span style="color:#888">(</span><span style="color:#888">)</span> <span style="color:#888">=&gt;</span> <span style="color:#b83838">&#34;Awesome&#34;</span><span style="color:#888">;</span>
<span style="color:#b83838">```</span><span style="background-color:#a848a8">
</span></pre>
<p>Head to the <a href="/magnanimous/sections/docs.html">Documentation</a> to learn more.</p>
</div>
<div class="footer">
    <div>
        <small>
            Magnanimous and its website by <a href="https://github.com/renatoathaydes">Renato Athaydes</a>
        </small>
    </div>
    <div>
        <small>
            Logo by <a href="https://se.linkedin.com/in/elisabet-norrgård-148b7ba7">Elisabet Norrgård</a>
        </small>
    </div>
    <div>
        <small>Sources on <a href="https://github.com/renatoathaydes/magnanimous">GitHub</a></small>
    </div>
</div>
</body>
</html>